*.interp
*.tokens
WdlLexer.py
WdlParser.py
WdlParserListener.py
WdlParserVisitor.py
WdlLexer.js
WdlParser.js
WdlParserListener.js
WdlParserVisitor.js
WdlLexerPython.py
target/
.idea/
*.jar
node_modules/
build/
wdl_parser.egg-info/
dist/
gen/
wdl.iml